import init.hidl.sensor.rc

service capsense_reset /system/vendor/bin/capsense_reset
   class core
   user system
   group system input
   disabled

on property:sys.boot_completed=1
    start capsense_reset

on early-init
   insmod /vendor/lib/modules/focaltech_0flash_mmi.ko
   insmod /vendor/lib/modules/nova_0flash_mmi.ko
   insmod /vendor/lib/modules/tas2562.ko
   insmod /vendor/lib/modules/abov_sar_a96t.ko
   insmod /vendor/lib/modules/aw8624.ko
   insmod /vendor/lib/modules/qpnp-smbcharger-mmi.ko
   insmod /vendor/lib/modules/qpnp-power-on-mmi.ko

on init
   # Change ownership for for HBM feature
   chown system system /sys/class/graphics/fb0/hbm
   # Change ownership for for ACL feature
   chown system system /sys/class/graphics/fb0/acl

on boot
   # change permission for capsensor
   chown system system /sys/class/capsense/reset

   # Change the ownership of display TE files for tcmds
   chown root vendor_tcmd /sys/class/graphics/fb0/te_test
   chown root vendor_tcmd /sys/class/graphics/fb0/te_enable
   chown root vendor_tcmd /sys/class/graphics/fb0/frame_counter
   chown root vendor_tcmd /d/dsi_smd_639_1080x2340_cmd_display/esd_check_mode
   chown root vendor_tcmd /d/dsi_tianma_639_1080x2340_cmd_display/esd_check_mode
   chmod 0664 /d/dsi_tianma_639_1080x2340_cmd_display/esd_check_mode
   chmod 0664 /d/dsi_smd_639_1080x2340_cmd_display/esd_check_mode

   # Allow system program to write dsi_display_early_power.
   chown root system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_early_power
   chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_early_power

   # in FBE mode, /data is here
   write /sys/block/sdb/queue/read_ahead_kb 512

   # Change ownership and permission for vibrator
   chown system system /sys/class/leds/vibrator/state
   chown system system /sys/class/leds/vibrator/duration
   chown system system /sys/class/leds/vibrator/activate
   chown system system /sys/class/leds/vibrator/extra
   chown system system /sys/class/leds/vibrator/seq
   chown system system /sys/class/leds/vibrator/reduce
   chmod 0660 /sys/class/leds/vibrator/state
   chmod 0660 /sys/class/leds/vibrator/duration
   chmod 0660 /sys/class/leds/vibrator/activate
   chmod 0660 /sys/class/leds/vibrator/extra
   chmod 0660 /sys/class/leds/vibrator/seq
   chmod 0660 /sys/class/leds/vibrator/reduce

   # Change ownership for touch gesture
   chown root input /sys/class/sensors/dt-gesture/enable
   chown root input /sys/class/sensors/dt-gesture/poll_delay

   #Add for camera flashlight
   chown system system /sys/class/leds/led:flash_0/brightness
   chown system system /sys/class/leds/led:torch_0/brightness
   chown system system /sys/class/leds/led:switch_0/brightness
   chmod 0664 /sys/class/leds/led:flash_0/brightness
   chmod 0664 /sys/class/leds/led:torch_0/brightness
   chmod 0664 /sys/class/leds/led:switch_0/brightness

   # Change ownership and permission for AMPS factory testing
   chown root vendor_tcmd /sys/devices/platform/soc/a600000.ssusb/modusb_enable
   chown root vendor_tcmd /sys/devices/platform/soc/a600000.ssusb/modusb_protocol

on property:ro.build.type=userdebug
    insmod /vendor/lib/modules/watchdogtest.ko

# Turn on led to indicate device on in factory mode
on property:ro.bootmode=factory
    write /sys/class/leds/charging/brightness 255

on property:ro.bootmode=mot-factory
    write /sys/class/leds/charging/brightness 255

# Set hub drive strength to +15%
on property:ro.bootmode=normal
    write /sys/module/usb3813_hub/parameters/boost_val 5
on property:ro.bootmode=mot-factory
    write /sys/module/usb3813_hub/parameters/boost_val 5
